
.product-container {
    width: 90%;
    max-height: fit-content;
    height: auto;
    margin-left: 4.5%;
    margin-top: 40px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 8px 2px rgb(54, 54, 54);
    background-color: rgb(73, 73, 73);
}

.header-search {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: left;
    float: left;
    
}

.search {
    width: 40%;
    padding-right: 10%;
}

.search input {
    width: 90%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.search form {
    width: 80%;
    height: 35px;
    border-radius: 7px;
    margin: 20px 0px 0px 40px;
    background-color: #F5F5F5;
}

.search form button {
  position: absolute  ;
    margin-top: 8px;
    font-size: 17px;
    color: black;
    background: none;
    border: none;
}

.pd-count{
    margin: 0px 0px 0px 0px;
    text-align: left;
    margin-left: 60px;
    /* font-size: 0.4rem; */
    color: rgb(241, 186, 103);
    width: 100%;
    border-radius: 8px;
    /* background-color: #000000; */
}

.pd-count h3{
    font-size: 1rem;
}

.pd-pagination {
    width: 30%;
    cursor: pointer;
    margin: 26px 0px 0px 0px;
    color: #F5F5F5;
    text-align: center;
}

.pd-pagination span {
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 7px;
}

/* Style The Dropdown Button */
.dropbtn1 {
    background-color: #ffffff;
    width: 200px;
    height: 30px;
    color: rgb(0, 0, 0);
    padding: 7px;
    font-size: 16px;
    text-align: left;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    position: relative;
    width: 30%;
    height: 30px;
    margin-top: 20px;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #464646;
    min-width: 160px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
    color: rgb(241, 186, 103);
    padding: 12px 16px;
    height: 10px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
    background-color: #292929;
    width: 170px;
    border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {
    background-color: rgb(241, 186, 103);
    color: black;
}

.dropbtn1 {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropbtn1 i {
    margin-left: 100px;
    transition: all .5s;
}

.dropdown1:hover .dropbtn1 i {
    transform: rotate(180deg);
}

.product {
    padding: 10px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    margin: 5px;
    min-height: 540px;
}

.product:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.2);
    max-width: 240px;
    height: 370px;
    text-align: center;
    font-family: arial;
    cursor: pointer;
    float: left;
    padding: 0 10px;
    background-color: #ffffff ;
    margin: 10px;
    margin-bottom: 15px;
}


.tag span{
  margin-top: 10px;
  font-weight: 700;
  color: rgb(255, 164, 28);
}

.price {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    text-align: left;
}

.card hr {
    display: none;
}

.card p{
  margin-bottom: 0px;
}

.card div{
    display: flex;
    color: rgb(255, 164, 28);
    justify-content: space-between;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.card img {
    transition: all .5s;
}

.discount{
  color: rgb(255, 153, 0);
  font-weight: 600;
}
.card:hover {
    box-shadow: 1px 1px 8px 5px rgb(54, 54, 54);
}

.card:hover h1{
    color: rgb(255, 164, 28);
}
.card:hover hr{
    display: block;
}

.card:hover img{
    position: relative;
    top: -10px;
}

.card h1{
    color: #000000;
    font-size: 0.8rem;
    text-align: left;
}


.features table{
    border: 2px solid black;
}

.dropbtn-side {
    color: rgb(241, 186, 103);
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

#down-key {
    color: rgb(241, 186, 103);
    font-size: 25px;
    margin-left: 40px;
}

.dropdown-side {
    position: relative;
    display: inline-block;
}

.dropdown-side-content {
    background-color: rgb(129, 14, 14);
    display: none;
    width: 300px;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-side-content a {
    text-decoration: none;
    color: rgb(241, 186, 103);
    font-size: 1.5rem;
    font-weight: 800;
    font-style: oblique;
    width: 100%;
    padding: 12px 18px;
    display: block;
}
.n1 i{
    transition: all .5s;
}
.dropdown-side-content a:hover {
    color: #000000
}

.dropdown-side:hover .dropdown-side-content {
    display: block;
}
.dropdown-side:hover .n1 i{
    transform: rotate(180deg);
}

/* middle card */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* font: 'Lato', sans-serif; */


/* center container in the middle */
/* html {
  display: grid;
  min-height: 100%;
} */

/* body {
  display: grid;
  background: #E0C9CB;
  font-family: font, sans-serif;
  text-transform: uppercase;
} */

.container1 {
  display: none;
  position: fixed;
  margin-left: 29%;
  margin-top: -1800px;
  overflow: hidden;
  width: 450px;
  padding: 10px;
  height: 350px;
  background: #6b6b6b;
  box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  border-radius: 10px;
  z-index: 2;
}

.card p:hover .container1{
  display: block;
}
.product1 p {
  font-size: 0.6em;
  color: #000000;
  letter-spacing: 1px;
}

.product1 h1 {
  font-size: 1.2em;
  color: dark;
  margin-top: -5px;
}

.product1 h2 {
  color: rgb(241, 186, 103);
  margin-top: -5px;
}

/* img {
  width: 290px;
  margin-top: 47px;
} */

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E0C9CB;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product1 {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc1 {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.buttons button {
  background-color: #000;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
  &:hover {
    color: #000;
    font-weight: 700;
    background: rgb(241, 186, 103);
    transition: #4E4E4E.4s ease-in-out;
  }
}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: #D9AAB7;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  &:hover {
    cursor: pointer;
  }
}

.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid #E0C9CB;
  font-size: 0.7em;
  text-align: center;
  &:hover{
    background: #BA7E7E;
    color: #4E4E4E;
    transition: all .4s ease-in-out;
  }
}

.focus{
  background: #BA7E7E;
  color: #4E4E4E
}

.checked{
  color: rgb(255, 153, 0);
}

.side-view{
  display: inline-flex;
  position: absolute;
  text-decoration: none;
  color: #000;
}

/* side-cart-detail */
.cart-item{
  width: 97%;
  min-height: 540px;
  margin: 5px 0px 0px 5px;
  /* background-color: rgb(70, 70, 70); */
  padding: 5px;
}

.cart-1{
  width: 97.5%;
  height: 80px;
  padding: 5px;
  border: 2;
  box-shadow: 2px 2px 2px 1px rgb(43, 42, 42);
  background-color: rgb(63, 63, 63);
  display: flex;
  margin-bottom: 8px;
}

.cart-img{
  width: 20%;
  border: 2px solid rgb(54, 54, 54) ;
}

.cart-img img{
  width: 100%;
  margin-top: 0px
}

/* Side Cart */

.sidefilter{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* overflow-y: hidden; */
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
}

.cart-up{
  width: 100%;
  height: 60px;
  display: flex;
  margin-top: -20px;
  color: #fff;
}

.cart1{
  width: 50px;
  margin-left: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 186, 103);
    font-weight: 800;
}

.cart1 a {
  text-decoration: none;
  color: rgb(241, 186, 103);
}

.cart1 span i {
  margin-left: 8px;
}
.closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 20px;
  color: rgb(241, 186, 103);
}

.cart-up div h3{
  font-size: 1.2rem;
  padding-top: 15px;
}

.cat-det{
  display: block;
  justify-content: center;
  text-align: left;
}

.cat-det a{
  margin-top: 5px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidefilter hr{
  color: rgb(241, 186, 103);
}

.cat-color{
  display: table;
  margin-left: 20px;

}

.cat-color a{
  width: 20px;
  height: 20px;
  margin: 4px;
  background-color: rgb(19, 255, 11);
  float: left;
  border-radius: 50%;
}

.cat-price{
  display: block;
  justify-content: center;
  text-align: left;
}

.cat-price a{
  text-decoration: none;
  margin-top: 5px;
  color: white;
  display: block;
}

.no-prod{
  text-align: center;
  margin-top: 300px;
}

.no-prod p{
  font-size: xx-large;
  font-weight: 800;
}

