{% load static %}
<div class="footer">
    <div class="up-foot">
        <div class="ft-manu">
            <a href="{% url "about" %}">About Us</a>|
            <a href="#">Careers</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Terms of Use</a>|
            <a href="{% url "Contact-Us" %}">Contact Us</a>
        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>|
            <a href="#"><i class="fa-brands fa-twitter"></i></a>|
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>|
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="cards">
            <img src="{% static 'store_app/image/paypal.png' %}" alt="#" width="40px">
            <img src="{% static 'store_app/image/mastercard.png' %}" alt="#" width="40px">
            <img src="{% static 'store_app/image/mastercard.png' %}" alt="#" width="40px">
        </div>
    </div>  
    <div class="line-ft">
        <hr>
    </div>
    <div class="down-foot">
        © 2023-2024 VictoryVolt. All Rights Reserved.
    </div>
    <div class="up">
        <a href="#"><i class="fa-solid fa-caret-up"></i></a>
    </div>
</div>